.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.link {
  stroke: black;
  stroke-width: 2.5px;
}

.node {
  fill: lightgrey;
  stroke: #000;
  stroke-width: 1.5px;
  cursor: pointer;
}

.node:hover {
  fill: silver;
}

.elem-value {
  font-size: 20px;
}

button {
  padding: 10px 20px;
}

.lis-item {
  font-size: 20px;
}

.lis-item.used {
  font-weight: bold;
  color: green;
}

.App {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-areas:
  'header header'
  'graph console';
  grid-template-columns: 2fr 1fr ;
  grid-template-rows: auto 1fr;
  grid-gap: 0px;
}

.header {
  padding: 20px;
  grid-area: header;
  border-bottom: 1px solid black;
  button {
    margin: 0px 10px;
    padding: 10px 40px;
  }
}
.graph {
  grid-area: graph;
  overflow: auto;
}
.console {
  grid-area: console;
  overflow: auto;
  textarea {
    height: 100%;
    width: 100%;
  }
}
